  /* On mouse-over, add a deeper shadow */
.cards {
    text-align: center;
}   


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

  .center {
    
    border: 3px solid green;
  }
/*
selects all anchor tag elements in the document (e.g. <a href="page-link.html">Page Link</a>)
*/
a {
    text-align: center;
}

/*
selects all headers of type h3 in the document (e.g. <h3>Type selectors</h3>)
*/
h1 {
    color: red;
}

ul {
    list-style-type: none;
}
/*
selects all paragraph elements in the document (e.g. <p>Type selectors are used
to...</p>)
*/
p {
}

/*
select all elements that have the 'important-topic' classname (e.g. <h2 class='important-topic'>
and <p class='important-topic'>)
*/

/*
selects the HTML element with the id 'main-header' (e.g. <h1 id='main-header'>)
*/
#main-header {
}