.cards {
    text-align: center;
}   

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

.center {    
    border: 3px solid green;
  }

p, form {
    text-align: center;
}

h1, h2 {
    color: red;
    text-align: center;
}

ul {
    list-style-type: none;
}
